<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat main 2  page</title>
</head>
<body>
  <h2>Simple Chat</h2>
  <textarea id="chat-area" cols="100" rows="20" readonly></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">

   <script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');
    chatSocket.onmessage = function(e) 
    
     



   </script>
</body>
</html>